<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/mypage.js" defer></script>
    <title>Mypage</title>
</head>
<body>
<br>- 유저정보
<br>아이디 :
<br>이름 :
<br><br><br>

<div class="mypage">
        <div class="form">
          <form class="mypage-form">
            <input id = "id" type ="text" placeholder="아이디"/>
            <input id = "name" type ="text" placeholder="변경할 이름"/>
            <!-- <input id = "psword" type="password" placeholder="비밀번호"/> -->
            <p id="button">UPDATE</p>
            <p class="message">루트페이지로 이동 <a href="/">Go!</a></p>
          </form>
        </div>
      </div>
</body>
</html>